<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<div class="homepage-container">
  <!-- <mat-card class="welcome-card"> -->
    <div class="welcome-text">
    <mat-card-title>Welcome to the shop</mat-card-title>
    <!-- <img src="hariShop.png" alt="E-commerce small-logo" class="logo-img"> -->
    <mat-card-content>
      <p class="lead">Your one-stop solution for managing orders and products.</p>
      <p>Explore our products and start ordering today!</p>
    </mat-card-content>
    <br>
    <!-- <mat-card-actions> -->
      <div class="offset xor xor--filter" style="--sl: #c59206, #f78154">
        <button routerLink="/products" style="--sl: #124ef4, #14f4f0">Shop Now</button>
      </div>
      <svg width="0" height="0">
        <filter id="btt">
          <feColorMatrix values="1 0 0 0 0
                                0 1 0 0 0
                                0 0 1 0 0
                                255 255 255 0 -127.5"/>
          <feComposite in="SourceGraphic" operator="in"/>
        </filter>
      </svg>
    </div>
    <!-- </mat-card-actions> -->
<img src="me.png" alt="E-commerce Banner" class="banner-image">


  <!-- </mat-card> -->
</div>